/** Basket  */

.basket_order_items_wrapper {
    display: flex;
    width: 100%;
}

.basket {
    background-color: #363534;
    width: 440px;
    height: 100dvh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 32px 64px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-shrink: 0;
    border: none;
}

.basket_title {
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    color: #fdeadc;
    text-align: center;
}

.basket_preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: #fdeadc;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
}
.basket_preview img {
    width: 120px;
    align-items: center;
    justify-content: center;
}
.basket_preview p {
    padding: 24px;
    text-align: center;
}

.basket_item_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 360px;
}

.basket_item {
    background-color: #fdeadc;
    color: #363534;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.basket_item_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
}
.basket_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basket_item_footer_buttons {
    height: 24px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.basket_item_footer_buttons button {
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.basket_item_button {
    padding: 0;
}
.basket_tables {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.basket_checkout_table {
    font-weight: 600;
    color: #ffffff;
}
.basket_checkout_table th {
    text-align: left;
}
.basket_checkout_table td {
    text-align: right;
}
.basket_total_table {
    font-weight: 700;
    color: #ffffff;
}
.basket_total_table th {
    text-align: left;
}
.basket_total_table td {
    font-weight: 700;
    text-align: right;
}
.basket_item_table_seperator {
    height: 1px;
    width: 100%;
    border-top: 3px white solid;
    padding: 0;
}
.basket_buy_button {
    background: var(--main-bg-color);
    padding: 13px 55px;
    color: #fbfbfb;
    font-size: 32px;
    line-height: 120%;
    border-radius: 60px;
    white-space: nowrap;
}

.basket_delete_button {
    height: 24px;
}

.basket_item_header {
    display: flex;
    justify-content: space-between;
}
