:root {
    --main-bg-color: #e76c1f;
    --secondary-bg-color: #fdeadc;
}
body {
    font-family: "Palanquin";
    overscroll-behavior: contain;
}

h1 {
    font-family: "Palanquin Dark";
    font-size: 48px;
    font-weight: 700;
}

/**Landing Section */

.main_header {
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    height: 128px;
    padding: 48px 40px 40px 120px;
    z-index: 1;
}

.landing_section {
    background-image: url(../assets/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85dvh;
    background-position: center bottom;
    position: relative;
}

.logo {
    width: 200px;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50%;
    bottom: 0;
    border: 13px solid var(--secondary-bg-color);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/** Title Section */

.title_section {
    padding: 100px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_section_title {
    display: flex;
    align-items: baseline;
    gap: 26px;
}
.title_section_slogan {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #363534;
}
.title_section > div > img {
    width: 110px;
    height: 32px;
}
.title_colored {
    color: var(--main-bg-color);
}
.rating_box {
    background-color: #facaac;
    width: 110px;
    height: 32px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 4px 5px;
    border-radius: 4px;
}
.rating_box > div {
    display: flex;
    align-items: baseline;
    gap: 8px;
}
.rating_box_average {
    font-family: "Palanquin Dark";
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #363534;
}
.rating_box_amount {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #726d6d;
}

.order_options_section {
    width: 100%;
}

/** Content Section  */

.title_banner {
    background-color: var(--main-bg-color);
    width: calc(100% + 30px);
    height: 60px;
    position: relative;
}
.title_banner_content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 0px 0px 164px;
    position: absolute;
    bottom: 0px;
}
.title_banner_img {
    width: 85px;
    height: 85px;
}
.title_banner_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    padding: 8px 16px;
    color: #ffffff;
}

/** content  */

.order_option_container {
    padding: 24px 48px 60px 120px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    width: 100%;
}

.order_item {
    background-color: var(--secondary-bg-color);
    width: 100%;
    max-width: 720px;
    display: flex;
    gap: 15px;
    border-radius: 12px;
    padding: 10px;
}
.order_item_img {
    object-fit: cover;
    border-radius: 12px;
}

.order_item_text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.order_item_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.order_item_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: #363534;
}
.order_item_ingredients {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #363534;
}
.order_item_order_container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: space-between;
}
.order_item_price {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #363534;
    text-align: right;
    white-space: nowrap;
}
.order_item_button {
    display: flex;
    justify-content: center;
    width: 115px;
    padding: 5px 8px;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
}
.clicked {
    color: var(--main-bg-color);
}

.main_footer {
    height: 128px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    gap: 72px;
}

.main_footer > a {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: white;
}

.checkout_dialog_overlay {
    margin: auto;
    background-color: #363534;
    width: 440px;
    height: 270px;
    border-radius: 30px;
    padding: 32px 40px;
    border: none;
}
.checkout_dialog_overlay::backdrop {
    overscroll-behavior: contain;
    overflow: hidden;
    background-color: rgba(54, 53, 52, 0.4);
}

.checkout_dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout_dialog header {
    justify-self: flex-end;
    position: absolute;
    right: 32px;
    top: 32px;
}

.checkout_dialog_content {
    color: #fdeadc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.checkout_dialog_content h2 {
    font-size: 42px;
    line-height: 120%;
}
.checkout_dialog_content h3 {
    font-size: 29px;
    line-height: 120%;
}

/** Navigation */

.mobile_navbar {
    background-color: rgba(54, 53, 52, 1);
}

.mobile_navbar_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    list-style-type: none;
}

.mobile_navbar_list img {
    width: 30px;
    height: 30px;
}
